<h1>Welcome, <%= @user.name %></h1>
<h4><a href="/logout">Log out</a></h4>


<h2>Account Details</h2>
<p>Phone Number: <%= @user.phone %></p>
<p>Address: <%= @user.address %></p>
<p>Preferences: <%= @user.preferences %></p>
<h4><a href="/edit">Edit your account details</a></h4>


<% if !@user.admin %>
  <h2>Current Order</h2>
  <a href="/request">Request an order</a>


  <h2>Order History</h2>

  <% @user.orders.each do |order| %>
    <% if order.dropped_off %>
      <ul>
        <li><a href="/orders/<%= order.id %>"><%= order.number %></a></li>
      </ul>
    <% end %>
  <% end %>

  <% else %>
    <a href="/orders">View all orders</a>
<% end %>
